<body>

  <div class="container-fluid " style="padding:1 !important; maargin:0 !important;" >

    <div class=' addprod panel'>

      <div class="panel-body">
        <form id="addprodform">
          <div class="col-sm-6" >
            <div class="row">
              {% if not gkresult["category"] %}
              <div class="form-group col-sm-4" id="categorydiv" hidden>
                <label class="" for="addcatselect">{% trans %}Select Category{% endtrans %} :</label>
                <select class = "form-control input-sm"  name = "catselect" id="addcatselect" >
                  <option value="" selected >{% trans %}None{% endtrans %}</option>
                  {% for cat in gkresult["category"] %}
                  <option value="{{cat['categorycode']}}">{{cat["categoryname"]}}({{cat["subcount"]}})</option>
                  {% endfor %}
                </select>
              </div>
              {% else %}
              <div class="form-group col-sm-4" id="categorydiv">
                <label class="" for="addcatselect">{% trans %}Select Category{% endtrans %} :</label>
                <select class = "form-control input-sm"  name = "catselect" id="addcatselect" >
                  <option value="" selected >{% trans %}None{% endtrans %}</option>
                  {% for cat in gkresult["category"] %}
                  <option value="{{cat['categorycode']}}">{{cat["categoryname"]}}({{cat["subcount"]}})</option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}
              <div class="form-group col-sm-4 pds">
                <label for="addproddesc" class="">{% trans %}Product Description{% endtrans %} :</label>
                <input type='text' class="form-control input-sm" name="addproddesc"  id="addproddesc" placeholder="Alphanumeric">
              </div>
              <div class="form-group col-sm-4 pds olduom">
                <label for="uom" class="">{% trans %}Unit of Measurement{% endtrans %} :</label>
                <select class = "form-control input-sm sel"  name = "uom" id="adduom" aria-describedby="txtareahelp">
                  <option value="" disabled selected hidden>{% trans %}Select Unit of Measurement{% endtrans %}</option>
                  {% for uom in gkresult["uom"] %}
                  <option value="{{uom['uomid']}}">{{uom["unitname"]}}</option>
                  {% endfor %}
                </select>
                <small id="txtareahelp" class="form-text text-muted">{% trans %}Press space to add new unit.{% endtrans %}</small>
              </div>
              <div class="form-group col-sm-4 pds newuom" hidden>
                <label for="newuom" class=""  style="font-size:13px">{% trans %}New Unit of Measurement{% endtrans %} :</label>
                <input type='text' class="form-control input-sm" name="newuom"  id="newuom" placeholder="Name of the new unit" aria-describedby="textareahelp">
                <small id="textareahelp" class="form-text text-muted">{% trans %}Press esc to cancel.{% endtrans %}</small>
              </div>
            </div>
          <div class="form-group">
            <div class="panel">
              <table id="product_tax_table" class="table table-condensed table-bordered fixed-table">
                <thead class="bg-primary input-sm">
                  <tr>
                    <th class="col-xs-4 text-center">{% trans %}Tax Name{% endtrans %}</th>
                    <th class="col-xs-4 text-center">{% trans %}State{% endtrans %}</th>
                    <th class="col-xs-3 text-center">{% trans %}Rate%{% endtrans %}</th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-xs-4">
                      <select class="form-control input-sm tax_name product_new_name">
                        <option value="" selected>Select Tax</option>
                        <option value="VAT">VAT</option>
                        <option value="CVAT">CVAT</option>
                      </select>
                    </td>
                    <td class="col-xs-4">
                      <select class="form-control input-sm tax_state product_new_state" >
                        <option value="">None</option>
                        <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                        <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                        <option value="Assam" stateid="4">Assam</option>
                        <option value="Bihar" stateid="5">Bihar</option>
                        <option value="Chandigarh" stateid="6">Chandigarh</option>
                        <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                        <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                        <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                        <option value="Delhi" stateid="10">Delhi</option>
                        <option value="Goa" stateid="11">Goa</option>
                        <option value="Gujarat" stateid="12">Gujarat</option>
                        <option value="Haryana" stateid="13">Haryana</option>
                        <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                        <option value="Jharkhand" stateid="16">Jharkhand</option>
                        <option value="Karnataka" stateid="17">Karnataka</option>
                        <option value="Kerala" stateid="19">Kerala</option>
                        <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                        <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                        <option value="Maharashtra" stateid="22">Maharashtra</option>
                        <option value="Manipur" stateid="23">Manipur</option>
                        <option value="Meghalaya" stateid="24">Meghalaya</option>
                        <option value="Mizoram" stateid="25">Mizoram</option>
                        <option value="Nagaland" stateid="26">Nagaland</option>
                        <option value="Odisha" stateid="29">Odisha</option>
                        <option value="Pondicherry" stateid="31">Pondicherry</option>
                        <option value="Punjab" stateid="32">Punjab</option>
                        <option value="Rajasthan" stateid="33">Rajasthan</option>
                        <option value="Sikkim" stateid="34">Sikkim</option>
                        <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                        <option value="Telangana" stateid="36">Telangana</option>
                        <option value="Tripura" stateid="37">Tripura</option>
                        <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                        <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                        <option value="West Bengal" stateid="41">West Bengal</option>
                      </select>
                    </td>
                    <td class="col-xs-3">
                      <input class="form-control input-sm tax_rate text-right product_new_rate numtype"  placeholder="Rate">
                    </td>
                    <td class="col-xs-1">

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <small id="taxhelp3" class="form-text text-muted">Press 'Esc' Key from tax rate to shift focus to specs or from godown openingstock to 'Save' button.</small><br>
            <small id="taxhelp4" class="form-text text-muted">Press 'Insert' Key from anywhere on the screen to save changes.</small>
            <a data-toggle="collapse" href="#moresmall">More<span class="glyphicon glyphicon-triangle-bottom"></span></a>
            <div class="collapse" id="moresmall">
              <small id="taxhelp2" class="form-text text-muted">Press 'Ctrl + >' or 'Ctrl + <' to navigate within tax or godown tables.</small><br>
              <small id="taxhelp" class="form-text text-muted">Press 'Shift + <' from tax name to shift focus to opening stock or from godown name to checkbox.</small>
            </div>
          </div>
        </div>


        <div class="col-sm-6" id="rightdiv">
          <div class="row">
            <div class="col-sm-12" id="specshelp">
              <small class="form-text text-muted">Fields for entering specifications appear here when a category with specifications is selected.</small><br>
              <small class="form-text text-muted">If you do not have such a category you can create one.</small><br>
              <small class="form-text text-muted">You can also edit an existing category to add specifications to it.</small><br><br>
            </div>
          </div>
          <div class="row" id="specifications">

          </div>
          <div class="row">
            {% if not godown %}
            <div id="newgodownadded" hidden>
              <div class="form-group">
                <input type="checkbox" name="godownflag" id="godownflag" value=0>
              </input>
              <input type="text" id="godownpresence" value="1" hidden>
              <label class="" for="godownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
            </div>
              <div  id="openingstockdiv" class="form-group" hidden>
                <div class="panel">
                  <table id="godown_ob_table" class="table table-condensed table-bordered fixed-table">
                    <thead class="bg-primary input-sm">
                      <tr>
                        <th class="col-xs-8 text-center">{% trans %}Godown{% endtrans %}</th>
                        <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
                        <th class="col-xs-1"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="col-xs-8">
                          <select class="form-control input-sm godown_name">
                            <option value="" selected>Select Godown</option>
                            {% for record in godown %}
                            <option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
                            {% endfor %}
                          </select>
                        </td>
                        <td class="col-xs-3">
                          <input class="form-control input-sm godown_ob text-right numtype" value="0.00">
                        </td>
                        <td class="col-xs-1">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <div id="nogodown">
            <div class="form-group pds col-sm-6">
              <label for="openingstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
              <div class="input-group">
                <input type='text' class="form-control text-right input-sm" name="openingstock"  id="openingstock" value="0.00" aria-describedby="unitaddon">
                <span class="input-group-addon input-sm" id="unitaddon"></span>
              </div>
            </div>
          </div>
            {% else %}
            <div class="form-group col-sm-12">
              <input type="checkbox" name="godownflag" id="godownflag" value=0>
            </input>
            <input type="text" id="godownpresence" value="1" hidden="">
            <label class="" for="godownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
          </div>
          <div id="nogodown" class="form-group pds col-sm-6">
            <label for="openingstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
            <div class="input-group">
              <input type='text' class="form-control text-right input-sm" name="openingstock"  id="openingstock" value="0.00" aria-describedby="unitaddon">
              <span class="input-group-addon input-sm" id="unitaddon"></span>
            </div>
          </div>
          <div  id="openingstockdiv" class="form-group col-sm-12" hidden>
            <div class="panel">
              <table id="godown_ob_table" class="table table-condensed table-bordered fixed-table">
                <thead class="bg-primary input-sm">
                  <tr>
                    <th class="col-xs-8 text-center">{% trans %}Godown{% endtrans %}</th>
                    <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-xs-8">
                      <select class="form-control input-sm godown_name">
                        <option value="" selected>Select Godown</option>
                        {% for record in godown %}
                        <option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td class="col-xs-3">
                      <input class="form-control input-sm godown_ob text-right numtype" value="0.00">
                    </td>
                    <td class="col-xs-1">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
          </div>
        </div>


      </form>
    </div>
    <div class="btn-group-sm panel-footer">
      <div class="container-fluid">

        <button class="btn btn-success btn-sm" id="apsubmit" name="submit" accesskey="s" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save">{% trans %}<u>S</u>ave{% endtrans %}</button>
        <button id="apreset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
        <button id="addgodown" class="btn btn-info btn-sm" accesskey="a">{% trans %}<u>A</u>dd Godown{% endtrans %}</button>
      </div>

    </div>


  </div>
</div>
<div id="addgodownpopup">

</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addproduct.js')}}"></script>
</body>
